# LOGGING
NEXUS_LOG=debug
NEXUS_LOG_STYLE=color

# GRAPH MCP SERVER CONFIGURATIONS
GRAPH_MCP_SERVER_URL=http://host.docker.internal:8001/mcp
GRAPHQL_CLIENT_NAME=ENTER_SHORTNAME_HERE

# CAAS MCP SERVER CONFIGURATIONS
CAAS_MCP_SERVER_URL=http://host.docker.internal:8002/mcp

# GITHUB MCP SERVER CONFIGURATIONS
GITHUB_MCP_SERVER_URL=https://api.githubcopilot.com/mcp
GITHUB_TOKEN=
GITHUB_READ_ONLY=1

# FETCH MCP SERVER CONFIGURATIONS
FETCH_MCP_SERVER_URL=http://host.docker.internal:8081/mcp

# SEQUENTIAL THINKING MCP SERVER CONFIGURATIONS
SEQUENTIAL_THINKING_MCP_SERVER_URL=http://host.docker.internal:8082/mcp

# AZURE MCP & AZURE AKS MCP SERVER CONFIGURATIONS
AZURE_MCP_SERVER_URL=http://host.docker.internal:8083/mcp
AZURE_AKS_MCP_SERVER_URL=http://host.docker.internal:8087/mcp
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_MCP_COLLECT_TELEMETRY=false

# PLAYWRIGHT MCP SERVER CONFIGURATIONS
PLAYWRIGHT_MCP_SERVER_URL=http://host.docker.internal:8084/mcp

# SLACK MCP SERVER CONFIGURATIONS
SLACK_MCP_SERVER_URL=http://host.docker.internal:8085/mcp
SLACK_MCP_XOXC_TOKEN=
SLACK_MCP_XOXD_TOKEN=

# MARKITDOWN MCP SERVER CONFIGURATIONS
MARKITDOWN_MCP_SERVER_URL=http://host.docker.internal:8086/mcp

# Ping federate config
PF_JWKS=
PF_ISSUER=
PF_AUDIENCE=